@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  --primary-bg: hsl(222, 26%, 31%);
  --secondary-bg: hsl(223, 31%, 20%);/*sl(221, 14%, 31%) */
  --screen-bg: hsl(224, 36%, 15%); 
  --keys-bg: hsl(30, 25%, 89%);
  --keys-shadow: hsl(28, 16%, 65%);
  --keys-accent: white;
  --del-reset-bg: hsl(225, 21%, 49%);
  --del-reset-shadow: hsl(224, 28%, 35%);
  --del-reset-accent: hsl(224, 51%, 76%);
  --equals-bg: hsl(6, 63%, 50%);
  --equals-shadow: hsl(6, 70%, 34%);
  --equals-accent: hsl(6, 92%, 66%);
  --equals-text: white;
  --primary-text: hsl(221, 14%, 31%);
  --secondary-text: white;
  --screen-text: white;
}

body {
  background-color: var(--primary-bg);
  color: var(--screen-text);
  font-size: 32px;
  font-family: 'League Spartan', sans-serif;
}

p {
  margin: 0;
}

.calculator-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 87.2%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head {
  /* color: var(--secondary-text); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head > p, .theme > p {
  margin: 0;
  user-select: none;
}

.theme {
  display: flex;
  font-size: 13px;
  align-items: flex-end;
  gap: 28px;
}

.theme > p {
  padding-bottom: 14px;
}

input[type=range] {
  box-sizing: border-box;
  -moz-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 70px;
  height: 26px;
  background-color: var(--secondary-bg);
  border-radius: 12px;
  padding: 0 5px;
}

input[type=range]::-moz-range-thumb {
  /* var(--equals-bg) */
  background-color: var(--equals-bg);
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 100%;
}

input[type=range]::-moz-range-thumb:active {
  background-color: hsl(6, 92%, 66%);
}

input[type="text"] {
  border: none;
  background-color: var(--screen-bg);
  padding: 20px 32px;
  height: 88px;
  border-radius: 8px;
  font-size: 42px;
  font-family: 'League Spartan', sans-serif;
  color: var(--screen-text);
  text-align: right;
}

.buttons-grid {
  background-color: var(--secondary-bg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  gap: 24px 25px;
  border-radius: 8px;
  padding: 32px 30px;
}

.button {
  background-color: var(--keys-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  box-shadow: 0 4px var(--keys-shadow);
  color: var(--primary-text);
}

.button:active {
  background-color: var(--keys-accent);
}

.red {
  background-color: var(--equals-bg);
  color: var(--equals-text);
  box-shadow: 0 4px var(--equals-shadow);
}

.red:active {
  background-color: var(--equals-accent);
}

.blue {
  background-color: var(--del-reset-bg);
  color: var(--secondary-text);
  box-shadow: 0 4px var(--del-reset-shadow);
}

.blue:active {
  background-color: var(--del-reset-accent)
}

.double {
  grid-column: span 2;
}

@media (max-width: 680px){
  body {
    font-size: 27px;
  }

  .buttons-grid{
    gap: 13px;
    padding: 24px;
  }

  input {
    padding: 0 24px;
    font-size: 32px;
  }
}

